<header role="banner" class="o-header">
    <div class="c-whisperbox o-header__container js-inviewport-item">
      <div class="o-constrained">
        <div class="o-header__top js-header">
          <div><a href="<%- show_lang() %>/" class="a-logo">Keycard</a></div>
          <nav role="navigation" class="o-navigation c-navigation">
            <a href="#" class="c-navigation__trigger js-navigation-open">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon"><title>navigation-menu</title><rect x="0.5" y="2.5" width="23" height="3" rx="1" ry="1"/><rect x="0.5" y="10.5" width="23" height="3" rx="1" ry="1"/><rect x="0.5" y="18.5" width="23" height="3" rx="1" ry="1"/></svg>
            </a>
            <div class="o-navigation__list c-navigation__list js-navigation-list">
              <a href="<%- show_lang() %>/" class="a-logo"></a>
              <a href="#" class="o-navigation__close js-navigation-close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon"><title>close</title><path d="M14.3,12.179a.25.25,0,0,1,0-.354l9.263-9.262A1.5,1.5,0,0,0,21.439.442L12.177,9.7a.25.25,0,0,1-.354,0L2.561.442A1.5,1.5,0,0,0,.439,2.563L9.7,11.825a.25.25,0,0,1,0,.354L.439,21.442a1.5,1.5,0,0,0,2.122,2.121L11.823,14.3a.25.25,0,0,1,.354,0l9.262,9.263a1.5,1.5,0,0,0,2.122-2.121Z"/></svg>
              </a>
              <% if (is_home()) { %>
                <a href="/<%- show_lang() %>#features" title="<%- __('header.menu.features.title') %>"
                  class="o-navigation__item js-anchor-scroll">
                  <%- __('header.menu.features.title') %>
                </a>
                <a href="/<%- show_lang() %>#security" title="<%- __('header.menu.security.title') %>"
                  class="o-navigation__item js-anchor-scroll">
                  <%- __('header.menu.security.title') %>
                </a>
              <% } %>
              <% if (!is_home()) { %>
                <a href="/<%- show_lang() %>#features" title="<%- __('header.menu.features.title') %>"
                  class="o-navigation__item">
                  <%- __('header.menu.features.title') %>
                </a>
                <a href="/<%- show_lang() %>#security" title="<%- __('header.menu.security.title') %>"
                  class="o-navigation__item">
                  <%- __('header.menu.security.title') %>
                </a>
              <% } %>
              <a href="<%- url_for_lang('docs') %>" title="<%- __('header.menu.docs.title') %>"
                class="o-navigation__item <% if(is_current('docs')) { %>is-active<% } %>">
                <%- __('header.menu.docs.title') %>
              </a>
              <a href="<%- url_for_lang('faq') %>" title="<%- __('header.menu.faq.title') %>"
                class="o-navigation__item <% if(is_current('faq')) { %>is-active<% } %>">
                <%- __('header.menu.faq.title') %>
              </a>
              <a href="<%- url_for_lang('about-us') %>" title="<%- __('header.menu.about.title') %>"
                class="o-navigation__item <% if(is_current('about-us')) { %>is-active<% } %>">
                <%- __('header.menu.about.title') %>
              </a>
              <a href="https://news.keycard.tech" title="<%- __('header.menu.blog.title') %>"
                class="o-navigation__item">
                <%- __('header.menu.blog.title') %>
              </a>
              <a href="https://get.keycard.tech/" title="<%= __('menubutton') %>" class="o-navigation__item"><span class="a-button a-button--rounded"><%= __('menubutton') %></span></a>
              <div class="o-navigation__item">
                <ul class="o-list-row">
                  <li>
                    <a href="https://github.com/status-im/status-keycard" target="_blank" title="Github">
                      <svg class="icon icon--smaller" width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M24.0432397,0.179949145 C10.8146777,0.179949145 0.0876694216,11.0878531 0.0876694216,24.5444986 C0.0876694216,35.3095729 6.95166942,44.4425972 16.4699504,47.6643325 C17.6671735,47.8898742 18.1067107,47.1357824 18.1067107,46.4922422 C18.1067107,45.9112405 18.0844958,43.9919174 18.0741818,41.9559906 C11.409719,43.429879 10.003438,39.0812424 10.003438,39.0812424 C8.91371904,36.264998 7.3436033,35.5161513 7.3436033,35.5161513 C5.1701157,34.0039329 7.50743802,34.0350004 7.50743802,34.0350004 C9.91299176,34.2064766 11.1796364,36.5458155 11.1796364,36.5458155 C13.3162314,40.2706821 16.7837355,39.1938116 18.1507438,38.571252 C18.3657521,36.9968987 18.9865785,35.9212386 19.6716694,35.3132042 C14.3508099,34.6971003 8.75742152,32.6079149 8.75742152,23.2719434 C8.75742152,20.6118431 9.69322312,18.4383319 11.2256529,16.7320427 C10.9769256,16.1179562 10.1569586,13.6402259 11.457719,10.284134 C11.457719,10.284134 13.4693554,9.62929668 18.0472066,12.7816345 C19.9580826,12.2417871 22.007405,11.9710564 24.0432397,11.9617765 C26.0790744,11.9710564 28.1299834,12.2417871 30.0444298,12.7816345 C34.6167273,9.62929668 36.6255868,10.284134 36.6255868,10.284134 C37.9295206,13.6402259 37.109157,16.1179562 36.8604298,16.7320427 C38.3964298,18.4383319 39.3258843,20.6118431 39.3258843,23.2719434 C39.3258843,32.6301059 33.7217851,34.6906447 28.387438,35.2938374 C29.2466777,36.0499467 30.0122975,37.5327114 30.0122975,39.8058807 C30.0122975,43.0655425 29.984529,45.6893301 29.984529,46.4922422 C29.984529,47.140624 30.4157355,47.9003644 31.6300166,47.6611047 C41.1431405,44.4357382 47.9984132,35.3059416 47.9984132,24.5444986 C47.9984132,11.0878531 37.2729918,0.179949145 24.0432397,0.179949145" id="Fill-51"></path>
                        <path d="M9.16085952,35.1623051 C9.1080992,35.2837506 8.92085952,35.3196598 8.75028096,35.2365442 C8.57652896,35.15706 8.47894216,34.9920394 8.53527272,34.8705938 C8.58684296,34.7459205 8.77447936,34.7116253 8.94783472,34.7943374 C9.12198344,34.8742251 9.22115704,35.0408596 9.16085952,35.1623051" id="Fill-52"></path>
                        <path d="M10.1311735,36.2629806 C10.0169256,36.370708 9.7935868,36.3206773 9.6420496,36.1504115 C9.48535536,35.9805492 9.456,35.7533937 9.57183472,35.6440524 C9.68965288,35.536325 9.90624792,35.5867591 10.0633389,35.7566215 C10.220033,35.9285012 10.2505785,36.1540428 10.1311735,36.2629806" id="Fill-53"></path>
                        <path d="M11.0757025,37.6662612 C10.9289256,37.7699539 10.6889256,37.6727168 10.540562,37.4560515 C10.3937851,37.2393863 10.3937851,36.9795494 10.5437355,36.8754533 C10.6924958,36.7713572 10.9289256,36.8649629 11.0792727,37.0800143 C11.2256529,37.2999073 11.2256529,37.5601477 11.0757025,37.6662612" id="Fill-54"></path>
                        <path d="M12.369719,39.0219319 C12.2384132,39.1691997 11.9587438,39.1296592 11.7540496,38.9287295 C11.544595,38.7322379 11.486281,38.4534378 11.6179834,38.30617 C11.750876,38.1584987 12.0321322,38.2000565 12.2384132,38.3993723 C12.446281,38.5954605 12.5097521,38.876278 12.369719,39.0219319" id="Fill-55"></path>
                        <path d="M14.154843,39.8091085 C14.0969256,39.9999515 13.8275702,40.0866982 13.5562314,40.0056001 C13.2852893,39.9220811 13.107967,39.6985568 13.1627107,39.5056965 C13.2190414,39.3136431 13.4895868,39.2232651 13.7629091,39.3100119 C14.0334546,39.3931274 14.2111735,39.6150378 14.154843,39.8091085" id="Fill-56"></path>
                        <path d="M16.1153058,39.9551659 C16.1220496,40.1560956 15.891967,40.3227301 15.6071405,40.3259579 C15.3207273,40.332817 15.0890578,40.1702172 15.0858843,39.9725152 C15.0858843,39.7695681 15.3108099,39.6045475 15.5972231,39.5997058 C15.8820496,39.5940572 16.1153058,39.7554465 16.1153058,39.9551659" id="Fill-57"></path>
                        <path d="M17.9397025,39.6392462 C17.9738182,39.8353343 17.7758678,40.0366676 17.4930248,40.089926 C17.2149422,40.1419741 16.9574876,40.020932 16.9221818,39.8264579 C16.8876694,39.6255281 17.0891901,39.4241949 17.366876,39.3721468 C17.6501157,39.3221161 17.9036033,39.4399303 17.9397025,39.6392462" id="Fill-58"></path>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="https://discord.gg/CWX7hs28" title="Discord" target="_blank">
                      <svg class="icon icon--smaller" width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path
                          d="M0,24 C0,10.7451654 10.7451654,0 24,0 C37.2548346,0 48,10.7451654 48,24 C48,37.2548346 37.2548346,48 24,48 C10.7451654,48 0,37.2548346 0,24 Z M33.8948571,10.4 L14.9051429,10.4 C13.3037714,10.4 12,11.688 12,13.284 L12,32.212 C12,33.808 13.3037714,35.096 14.9051429,35.096 L30.9755429,35.096 L30.2244571,32.506 L32.0384,34.172 L33.7531429,35.74 L36.8,38.4 L36.8,13.284 C36.8,11.688 35.4962286,10.4 33.8948571,10.4 Z"
                          id="Combined-Shape"></path>
                        <path
                          d="M28.4246857,28.684 C28.4246857,28.684 27.9145143,28.082 27.4893714,27.55 C29.3458286,27.032 30.0544,25.884 30.0544,25.884 C29.4733714,26.262 28.9206857,26.528 28.4246857,26.71 C27.7161143,27.004 27.0358857,27.2 26.3698286,27.312 C25.0093714,27.564 23.7622857,27.494 22.6994286,27.298 C21.8916571,27.144 21.1972571,26.92 20.6162286,26.696 C20.2902857,26.57 19.936,26.416 19.5817143,26.22 C19.5392,26.192 19.4966857,26.178 19.4541714,26.15 C19.4258286,26.136 19.4116571,26.122 19.3974857,26.108 C19.1424,25.968 19.0006857,25.87 19.0006857,25.87 C19.0006857,25.87 19.6809143,26.99 21.4806857,27.522 C21.0555429,28.054 20.5312,28.684 20.5312,28.684 C17.3993143,28.586 16.2089143,26.556 16.2089143,26.556 C16.2089143,22.048 18.2496,18.394 18.2496,18.394 C20.2902857,16.882 22.2317714,16.924 22.2317714,16.924 L22.3734857,17.092 C19.8226286,17.82 18.6464,18.926 18.6464,18.926 C18.6464,18.926 18.9581714,18.758 19.4825143,18.52 C20.9988571,17.862 22.2034286,17.68 22.6994286,17.638 C22.7844571,17.624 22.8553143,17.61 22.9403429,17.61 C23.8048,17.498 24.7826286,17.47 25.8029714,17.582 C27.1492571,17.736 28.5947429,18.128 30.0685714,18.926 C30.0685714,18.926 28.9490286,17.876 26.5398857,17.148 L26.7382857,16.924 C26.7382857,16.924 28.6797714,16.882 30.7204571,18.394 C30.7204571,18.394 32.7611429,22.048 32.7611429,26.556 C32.7611429,26.556 31.5565714,28.586 28.4246857,28.684 Z M22.2340949,22.4 C21.432689,22.4 20.8,23.1207207 20.8,24 C20.8,24.8792793 21.4467487,25.6 22.2340949,25.6 C23.0355009,25.6 23.6681898,24.8792793 23.6681898,24 C23.6822496,23.1207207 23.0355009,22.4 22.2340949,22.4 Z M27.3659051,22.4 C26.5644991,22.4 25.9318102,23.1207207 25.9318102,24 C25.9318102,24.8792793 26.5785589,25.6 27.3659051,25.6 C28.167311,25.6 28.8,24.8792793 28.8,24 C28.8,23.1207207 28.167311,22.4 27.3659051,22.4 Z"
                          id="Combined-Shape"></path>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <% if (page.layout == 'about-us' || is_home()) { %>
        <div class="o-constrained">
          <div class="o-header__body">
            <div class="o-header__content">
              <h1 class="a-title"><strong><%- __('header.title') %></strong></h1>
              <p class="a-subtitle"><%- __('header.subtitle') %></p>
              <div class="o-actionbar">
                <div class="o-actionbar__item">
                  <a href="https://get.keycard.tech/" class="a-button" title="<%= __('header.button.primary') %>"><%= __('header.button.primary') %></a>
                </div>
                <div class="o-actionbar__item">
                  <a href="<%- url_for_lang('docs') %>" class="a-button a-button--ghost"><%= __('header.button.secondary') %></a>
                </div>
              </div>
            </div>
            <div class="o-header__keyvisual js-header-keyvisual">
              <img src="<%= url_for('images/card-dark.png') %>" alt="">
              <img src="<%= url_for('images/card-light.png') %>" alt="">
              <img src="<%= url_for('images/card-colored.png') %>" alt="">
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </header>
