<header role="banner" class="o-header">
    <div class="c-whisperbox o-header__container js-inviewport-item">
      <div class="o-constrained">
        <div class="o-header__top js-header">
          <div><a href="<%- show_lang() %>/" class="a-logo">Keycard</a></div>
          <nav role="navigation" class="o-navigation c-navigation">
            <a href="#" class="c-navigation__trigger js-navigation-open">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon"><title>navigation-menu</title><rect x="0.5" y="2.5" width="23" height="3" rx="1" ry="1"/><rect x="0.5" y="10.5" width="23" height="3" rx="1" ry="1"/><rect x="0.5" y="18.5" width="23" height="3" rx="1" ry="1"/></svg>
            </a>
            <div class="o-navigation__list c-navigation__list js-navigation-list">
              <a href="<%- show_lang() %>/" class="a-logo"></a>
              <a href="#" class="o-navigation__close js-navigation-close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon"><title>close</title><path d="M14.3,12.179a.25.25,0,0,1,0-.354l9.263-9.262A1.5,1.5,0,0,0,21.439.442L12.177,9.7a.25.25,0,0,1-.354,0L2.561.442A1.5,1.5,0,0,0,.439,2.563L9.7,11.825a.25.25,0,0,1,0,.354L.439,21.442a1.5,1.5,0,0,0,2.122,2.121L11.823,14.3a.25.25,0,0,1,.354,0l9.262,9.263a1.5,1.5,0,0,0,2.122-2.121Z"/></svg>
              </a>
              <% if (is_home()) { %>
                <a href="<%- config.url %>/<%- show_lang() %>#why" title="<%- __('header.menu.why.title') %>"
                  class="o-navigation__item js-anchor-scroll">
                  <%- __('header.menu.why.title') %>
                </a>
                <a href="<%- config.url %>/<%- show_lang() %>#features" title="<%- __('header.menu.features.title') %>"
                  class="o-navigation__item js-anchor-scroll">
                  <%- __('header.menu.features.title') %>
                </a>
                <a href="<%- config.url %>/<%- show_lang() %>#security" title="<%- __('header.menu.security.title') %>"
                  class="o-navigation__item js-anchor-scroll">
                  <%- __('header.menu.security.title') %>
                </a>
              <% } %>
              <% if (!is_home()) { %>
                <a href="<%- config.url %>/<%- show_lang() %>#why" title="<%- __('header.menu.why.title') %>"
                  class="o-navigation__item">
                  <%- __('header.menu.why.title') %>
                </a>
                <a href="<%- config.url %>/<%- show_lang() %>#features" title="<%- __('header.menu.features.title') %>"
                  class="o-navigation__item">
                  <%- __('header.menu.features.title') %>
                </a>
                <a href="<%- config.url %>/<%- show_lang() %>#security" title="<%- __('header.menu.security.title') %>"
                  class="o-navigation__item">
                  <%- __('header.menu.security.title') %>
                </a>
              <% } %>
              <a href="<%- url_for_lang('docs') %>" title="<%- __('header.menu.docs.title') %>"
                class="o-navigation__item <% if(is_current('docs')) { %>is-active<% } %>">
                <%- __('header.menu.docs.title') %>
              </a>
              <a href="<%- url_for_lang('about-us') %>" title="<%- __('header.menu.about.title') %>"
                class="o-navigation__item <% if(is_current('about-us')) { %>is-active<% } %>">
                <%- __('header.menu.about.title') %>
              </a>
              <a href="https://get.keycard.tech/" title="<%= __('menubutton') %>" class="o-navigation__item"><span class="a-button a-button--rounded"><%= __('menubutton') %></span></a>
            </div>
          </nav>
        </div>
      </div>
      <% if (page.layout == 'about-us' || is_home()) { %>
        <div class="o-constrained">
          <div class="o-header__body">
            <div class="o-header__content">
              <h1 class="a-title"><strong><%- __('header.title') %></strong></h1>
              <p class="a-subtitle"><%- __('header.subtitle') %></p>
              <div class="o-actionbar">
                <div class="o-actionbar__item">
                  <a href="https://getkeycard.status.im/" class="a-button" title="<%= __('header.button.primary') %>"><%= __('header.button.primary') %></a>
                </div>
                <div class="o-actionbar__item">
                  <a href="<%- url_for_lang('docs') %>" class="a-button a-button--ghost"><%= __('header.button.secondary') %></a>
                </div>
              </div>
            </div>
            <div class="o-header__keyvisual js-header-keyvisual">
              <img src="<%= url_for('images/card-dark.svg') %>" alt="">
              <img src="<%= url_for('images/card-light.svg') %>" alt="">
              <img src="<%= url_for('images/card-colored.svg') %>" alt="">
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </header>