

<main role="main">
  <div class="o-row-xl">
    <div class="o-constrained">
      <div class="o-media">
        <div class="o-media__asset">
          <%- image_tag("images/integration-status.png", { class: 'js-inviewport-item a-push-top' }) %>
        </div>
        <div class="o-media__body">
          <h2 class="a-title">
            <%- __('home.block.ecosystem.title') %>
          </h2>
          <p class="a-subtitle"><%- __('home.block.ecosystem.subtitle') %></p>
          <div class="o-actionbar">
            <div class="o-actionbar__item">
              <a href="https://get.keycard.tech/" class="a-button" title="See the docs">Get Keycard</a>
            </div>
            <div class="o-actionbar__item">
              <a href="/docs/" class="a-button a-button--ghost">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="o-row-xl">
    <div class="c-spotlightbox js-inviewport-item" id="features">
      <div class="o-constrained">
        <div class="o-media">
          <div class="o-media__asset">
            <%- image_tag("images/integrate-keycard.png", { class: 'js-inviewport-item a-push-top' }) %>
          </div>
          <div class="o-media__body">
            <h2 class="a-title">
              <strong>Open Source API & SDK’s</strong>
            </h2>
            <div class="o-teaser o-distance-medium">
              <span class="o-teaser__symbol">
                <%- partial('partial/icons/check') %>
              </span>
              <div class="o-teaser__content">
                <h3 class="a-paragraph">Integrate Keycard using the Open API</h3>
                <p>Introduce Keycard into your app for greater security with features like offline private key management, NFC based transaction authorization, 2fa account login, tap to pay, and more.</p>
              </div>
            </div>
            <div class="o-teaser o-distance-medium">
              <span class="o-teaser__symbol">
                <%- partial('partial/icons/check') %>
              </span>
              <div class="o-teaser__content">
                <h3 class="a-paragraph">Android, iOS, and Go SDK’s</h3>
                <p>The SDK handles complex tasks such as setting up secure channels, APDU parsing, serialization, and more.</p>
              </div>
            </div>
            <div class="o-teaser o-distance-medium">
              <span class="o-teaser__symbol">
                <%- partial('partial/icons/check') %>
              </span>
              <div class="o-teaser__content">
                <h3 class="a-paragraph">Integrate Keycard with DApps</h3>
                <p>When used in Status, with dedicated web3 javascript calls, a DApp can call for any Keycard tapped on the phone to sign meta-transactions for simple payment experiences, and more.</p>
              </div>
            </div>
            <div class="o-distance-medium">
              <div class="o-actionbar">
                <div class="o-actionbar__item">
                  <a href="/docs/" class="a-button"
                    title="See the docs">See the docs</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="o-row o-distance">
    <div class="o-constrained">
      <div class="o-heading">
        <h2 class="a-title"><%- __('home.block.doing.title') %></h2>
      </div>
      <div class="o-grid">
        <div class="o-grid__column-1-1 o-grid__column-medium-1-2">
          <div class="c-quietbox">
            <div class="o-teaser">
              <span class="o-teaser__symbol">
                <%- partial('partial/icons/bitcoin') %>
              </span>
              <div class="o-teaser__content">
                <h3 class="a-paragraph"><%- __('home.block.doing.itemA.title') %></h3>
                <p><%- __('home.block.doing.itemA.subtitle') %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="o-grid__column-1-1 o-grid__column-medium-1-2">
          <div class="c-quietbox">
            <div class="o-teaser">
              <span class="o-teaser__symbol">
                <%- partial('partial/icons/contactless') %>
              </span>
              <div class="o-teaser__content">
                <h3 class="a-paragraph"><%- __('home.block.doing.itemB.title') %></h3>
                <p><%- __('home.block.doing.itemB.subtitle') %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="o-grid__column-1-1 o-grid__column-medium-1-2">
          <div class="c-quietbox">
            <div class="o-teaser">
              <span class="o-teaser__symbol">
                <%- partial('partial/icons/tap') %>
              </span>
              <div class="o-teaser__content">
                <h3 class="a-paragraph"><%- __('home.block.doing.itemC.title') %></h3>
                <p><%- __('home.block.doing.itemC.subtitle') %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="o-grid__column-1-1 o-grid__column-medium-1-2">
          <div class="c-quietbox">
            <div class="o-teaser">
              <span class="o-teaser__symbol">
                <%- partial('partial/icons/creditcard') %>
              </span>
              <div class="o-teaser__content">
                <h3 class="a-paragraph"><%- __('home.block.doing.itemD.title') %></h3>
                <p><%- __('home.block.doing.itemD.subtitle') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="o-row o-distance">
    <div class="c-ghostbox" id="security">
      <div class="o-constrained">
        <div class="o-heading">
          <h2 class="a-title"><%- __('home.block.security.title') %></h2>
          <p class="a-subtitle"><%- __('home.block.security.subtitle') %></p>
        </div>
        <div class="o-grid">
          <div class="o-grid__column-1-1 o-grid__column-large-1-2">
            <%- image_tag("images/security-keyvisual.png", { class: 'js-inviewport-item a-zoom' }) %>
            <div class="o-center">
              <a href="/docs/" title="<%= __('home.block.security.button') %>" class="a-button"><%= __('home.block.security.button') %></a>
            </div>
          </div>
          <div class="o-grid__column-1-1 o-grid__column-large-1-2">
            <div class="o-distance">
              <%- partial('partial/icons/bitcoin-lock') %>
              <p><%- __('home.block.security.itemA.title') %></p>
            </div>
            <div class="o-distance">
              <%- partial('partial/icons/calculator') %>
              <p><%- __('home.block.security.itemB.title') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="o-row">
    <div class="c-accentbox" id="keycard-api">
      <div class="o-constrained">
        <div class="o-grid">
          <div class="o-grid__column-1-1 o-grid__column-large-1-2">
            <h2 class="a-title"><%- __('home.block.brandedCards.title') %></h2>
            <p><%- __('home.block.brandedCards.subtitle') %></p>
            <p><%- __('home.block.brandedCards.text') %></p>
            <div class="o-distance-small">
              <div class="o-actionbar">
                <div class="o-actionbar__item">
                  <a href="https://docs.google.com/forms/d/e/1FAIpQLSerzZ5bG-GXVSlWYY9zJh1BiRO78G62zQFPivw1ElqK8_Ha-A/viewform?usp=sf_link"
                    target="_blank"
                    class="a-button a-button--negative"><%- __('home.block.brandedCards.button.primary')%></a>
                </div>
              </div>
            </div>
          </div>
          <div class="o-grid__column-1-1 o-grid__column-large-1-2">
            <%- image_tag("images/branded-cards.png", { class: 'js-inviewport-item a-push-top' }) %>
            <p class="u-text-center a-text-small">*These designs are for illustrative purposes only.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="o-row">
    <div class="c-whisperbox">
      <div class="o-constrained-medium u-text-center">
        <h2 class="a-title"><%- __('home.block.faq.title')%></h2>
        <a href="<%- url_for_lang('faq') %>" class="a-button o-distance-small"><%- __('home.block.faq.button')%></a>
      </div>
    </div>
  </div>
</main>
