<!DOCTYPE html>
<html lang="<%= page.lang %>" dir="ltr">
  <%- partial('partial/head') %>

  <body>
    <%- partial('partial/header') %>
    <%- body %>
    <%- partial('partial/footer') %>
  </body>
</html>

